@import "./settings";
@import "./fonts";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  -webkit-overflow-scrolling: touch;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  display: block;
  font-family: $font;
  font-size: 16px;
  font-weight: 400;
  color: $black;
  text-rendering: optimizeLegibility;
}

main {
  @include module;
  min-height: 80vh;
  animation: fadeIn 0.3s linear;
}

section {
  width: 100%;
}

a, button {
  color: $black;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  @include trans;
}

picture, img {
  width: 100%;
  display: block;
  line-height: 0;
}

span, b, del, i {
  display: inline-block;
}

hr {
  width: 100%;
  display: block;
  margin: 1.5rem 0;
  border: 0.5px solid $light;
}

label {
  width: 100%;
  display: inline-block;
}

button {
  display: inline-block;
  font-size: 16px;
  font-family: $font;
  border: none;
  background-color: white;
}

input, textarea, select {
  width: 100%;
  display: block;
  font-family: $font;
  font-size: 16px;
  font-weight: 300;
  padding: 0.75rem;
  box-shadow: none;
  color: $black;
  background-color: white;
  border: 1px solid $light;
  @include trans;
  &:focus {
    border-color: $navy;
  }
  &:disabled, &.disabled {
    cursor: not-allowed;
    background-color: $snow;
  }
  &.error {
    border-color: $red;
  }
}

select {
  background-color: transparent;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  &::-ms-expand { display: none; }
}
