@import "./settings";
@import "./fonts";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4 {
  color: $light;
}

p {
  color: $light;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  display: block;
  font-family: $font;
  font-size: 16px;
  font-weight: 400;
  color: $black;
  text-rendering: optimizeLegibility;
  background-image: url('../assets/images/talent-calc-bg.png');
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
}

main {
  @include module;
  animation: fadeIn 0.3s linear;
}

a, button {
  color: $black;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  @include trans;
}

picture, img {
  width: 100%;
  display: block;
  line-height: 0;
}

button {
  display: inline-block;
  font-size: 16px;
  font-family: $font;
  border: none;
  background-color: white;
}
