@import '../../styles/settings';

.container {
  h2 {
    text-align: center;
  }
  .pathContainer {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    @include desktop {
      flex-flow: row wrap;
    }

    .talentPath {
      .spriteButton {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
      }
    }
  }
}
