@import '../../styles/settings';

.container {
  @include module;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
  p {
    margin: 0.5rem;
  }

  @include desktop {
    flex-flow: row wrap;
    p {
      margin: 0 1rem 0 1rem
    }
  }
}
